body {
    height: 100%;
    background: url('../images/fon2.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}

#input-submit{
    margin-left: auto;
    margin-right: auto;
    background: blue;
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.dataForm{
    color: white;
}

.submit{
    padding: 10px;
    color: green;
    border-radius: 2px;
}

#navbarSupportedContent{
    margin-left: 75px;
}

header{
    margin-bottom: 75px;
}

footer{
    padding: 5px 25px;
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px 25px 0px 0px;
    color: aliceblue;
    width: 100%;
}

.footer-span-left{
    color: grey;
}

#sliderFade{
    width: 1000px;
    height: 600px;
}

.footer-span-right{
    color: whitesmoke;
}

.img-fluid{
    float: left;
}

.zagolovok{
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.about{
    margin: 15px auto;
    padding: 5px;
    width: 60%;
    min-height: 500px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

.login{
    text-align: center;
    margin: 15% auto;
    padding: 25px;
    width: 20%;
    min-height: 100px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}
.login input{
    width: 75%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

.register input{
    width: 60%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#register-input-username{
    margin-left: 37px;
}
#register-input-email{
    margin-left: 22px;
}
#register-input-password1{
    margin-left: 10px;
}
#register-input-password2{
    width: 50%;
    margin-left: 5px;
}
.register{
    text-align: center;
    margin: 13% auto;
    padding: 25px;
    width: 40%;
    min-height: 100px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

#myForm2{
    text-align: center;
    margin: 50px auto 15px;
    width: 250px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    border: 1px solid #21DB56;
    color: whitesmoke;
}

.home{
    margin: 15px auto;
    padding: 5px;
    width: 90%;
    min-height: 500px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

.p_about_me1{
    padding-top: 10px;
    font-size: 20px;
}

.titleDiv{
    width: 100%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.skills{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px;
    margin-left:3px;
    margin-right: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#location{
    margin: 10px auto 25px;
}

.home_zagolovok{
    font-size: 30px;
    font-weight: bold;
}

.foto1{
    position: absolute;
    top: 150px;
    right: 35px;
    z-index: 2;
}

.foto2{
    position: relative;
    margin-left: 100px;
    margin-top: 90px;
    z-index: 3;
}

.spanWeight1{
    font-size: 75px;
    color: darkred;
    font-weight: bold;
}

.spanWeight2{
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: -25px;
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.mainContentText{
    position: relative;
    margin-left: 100px;
    margin-top: 150px;
    z-index: 5;
}

.myworks{
    margin: 15px auto;
    padding: 5px;
    width: 80%;
    min-height: 500px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

.project-item{
    width: 100%;
    height: 400px;
    padding: 20px;
    border-radius: 25px;
}

.image-item{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 360px;
}

.data-item{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    width: 50%;
    height: 360px;
}

.title-item{
    vertical-align: top;
    display: inline-block;
    font-size: 35px;
    padding-left: 5px;
    padding-top: 5px;
    width: 70%;
    height: 100px;
}

.androidV-item{
    text-align: right;
    vertical-align: top;
    display: inline-block;
    width: 25%;
    height: 100px;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 5px;
}

.description-item{
    vertical-align: top;
    margin-top: 0px;
    width: 100%;
    height: 260px;
    font-size: 14px;
    padding: 5px 5px 5px 40px;
}

.flash{
    margin-top: -20px;
    padding: 15px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.myForm2-H3{
    color: black;
}

.myForm2-p{
    color: black;
}

.form-register{
    margin: 25px auto;
    padding: 25px;
    width: 40%;
    min-height: 500px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

.form-register input{
    width: 90%;
    border-radius: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.57);
    border: 1px solid darkblue;
    padding: 5px;
}

#input-submit-2{
    margin-left: auto;
    margin-right: auto;
    background: blue;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#email{
    margin-left: 15px;
}

#password_r{
    width: 520px;
}

#e_pin{
    margin-left: 25px;
}

#d_series{
    margin-left: 20px;
}

#e_year{
    margin-left: 28px;
    width: 90%;
    border-radius: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.57);
    border: 1px solid darkblue;
    padding: 5px;
}

.form-result-after-register{
    margin: 25px auto;
    padding: 25px;
    width: 40%;
    min-height: 500px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

#error-404-div-img{
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 50px;
    margin: 295px auto;
}

.user-list-item{
    width: 40%;
    margin: 15px auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 0px 25px 25px 0px;
    border: 1px solid black;
    font-size: 20px;
    color: whitesmoke;
}

.user-count-item{
    width: 40%;
    margin: 5px auto 20px auto;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    font-size: 20px;
    color: whitesmoke;
}

#user-list-item-div1{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#user-list-item-div2{
    display: inline-block;
    width: 75%;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

#user-list-item-div3{
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

#user-list-item-div4{
    margin: 0px;
    padding: 0px;
}

#remember{
    width: 15px;
    height: 15px;
}

.myAccount{
    margin: 15px auto;
    padding: 5px;
    width: 30%;
    min-height: 250px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

.my-acc-row-items-name{
    min-width: 75px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    margin: 7px 3px;
}

.my-acc-row-items-email{
    min-width: 75px;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    padding: 3px;
    margin: 7px 3px;
}

#account-div1{
    width: 100%;
    display: inline-block;
}

#account-div2{
    margin-left: 15px;
    vertical-align: top;
    display: inline-block;
}

#account-div3{
    vertical-align: top;
    width: 100%;
    height: 50%;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid black;
}

#account-div4{
    width: 100%;
    height: 50%;
    text-align: center;
    display: inline-block;
}

#account-div5{
    width: 70%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

#p-last-seen{
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 3px;
}

#id-change-username{
    margin-left: 28px;
    width: 85%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#id-change-email{
    margin-left: 18px;
    width: 85%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#id-change-about_me{
    margin-left: 18px;
    width: 64%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid darkblue;
    vertical-align: top;
    padding: 5px;
}

#id-change-picture{
    margin-left: 10px;
    width: 96%;
    height: 43px;
    border-radius: 10px;
    border: 1px solid darkblue;
    vertical-align: top;
    padding: 5px;
}

#id-change-update{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background: blue;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

#id-change-reset_password{
    margin-left: 10px;
    background: blue;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#div-change-password{
    margin: 14% auto;
    padding: 5px;
    width: 30%;
    min-height: 250px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

#btn-id-change-password{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background: blue;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

#id-change-oldpassword{
    margin-left: 19px;
    width: 72%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#id-change-new_password1{
    margin-left: 25px;
    width: 72%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#id-change-new_password2{
    margin-left: 18px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#create-post{
    text-align: center;
    margin: 13% auto;
    padding: 25px;
    width: 30%;
    min-height: 100px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

#create-post-title{
    margin-left: 10px;
    width: 80%;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#create-post-content{
    margin-left: 48px;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid darkblue;
    vertical-align: top;
    padding: 5px;
}

#create-post-picture{
    margin-left: 10px;
    width: 96%;
    height: 43px;
    border-radius: 10px;
    border: 1px solid darkblue;
    vertical-align: top;
    padding: 5px;
}

#create-post-type{
    margin-left: 55px;
    width: 80%;
    height: 43px;
    border-radius: 10px;
    border: 1px solid darkblue;
    padding: 5px;
}

#create-post-submit_btn{
    margin-left: auto;
    margin-right: auto;
    background: blue;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#div-img-post{
    display: inline-block;
}

#div-title-post{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    font-size: 36px;
}

#detail-post{
    text-align: center;
    margin: 5% auto;
    padding: 25px;
    width: 30%;
    min-height: 100px;
    background-color: rgba(128, 128, 128, 0.57);
    border-radius: 25px;
    color: whitesmoke;
}

#title-post{
    min-width: 75px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    margin: 7px 3px;
}

#content-post{
    font-size: 16px;
    text-align: justify;
    color: #ffffff;
    padding: 3px;
    margin: 7px 3px;
}

#delete-post-btn{
    margin-left: auto;
    margin-right: 25px;
    background: blue;
    color: white;
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#edit-post-btn{
    margin-left: 25px;
    margin-right: auto;
    background: blue;
    color: white;
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}


