{% from "_render_field.html" import render_field %}

{% extends "baseTemplate.html" %}

{%block content %}
    <title>Вхід</title>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <div class="login">
        <h2 align="center">Вхід</h2>
        <hr>
        <form method="POST">
            <p>{{ form.csrf_token }}</p>
            <p>{{ render_field(form.email) }}</p>
            <p>{{ render_field(form.password) }}</p>
            <hr>

            <span id="rem-me-text" style="font-size: 16px">Remember Me</span><span id="rem-me-checkbox">{{ render_field(form.remember) }}</span>
            <hr>
            <p>{{ render_field(form.submit, value='Ввійти', id="input-submit-2") }}</p>
        </form>
    </div>

{% endblock %}