{% from "_render_field.html" import render_field %}

{% extends "baseTemplate.html" %}

{% block content %}
    <title>Зміна паролю</title>
    <div id="div-change-password">
        <form method="POST">

            <h2 align="center">Зміна паролю</h2>
            <hr>
            {{ form.csrf_token }}
            <p>&nbsp;{{ render_field(form.old_password, id='id-change-oldpassword') }}</p>
            <p>&nbsp;{{ render_field(form.new_password1, id='id-change-new_password1') }}</p>
            <p>&nbsp;{{ render_field(form.new_password2, id='id-change-new_password2') }}</p>
            <hr>
            <button id='btn-id-change-password'>Зберегти новий пароль</button>
        </form>
    </div>
{% endblock %}