{% from "_render_field.html" import render_field %}

{% extends "baseTemplate.html" %}

{%block content %}
    <title>Користувачі</title>
    <div class="user-count-item" align="center">
      <p>Кількість користувачів: {{ count }}</p>
    </div>

    <h2 align="center" style="color: white; font-weight: bold; margin-bottom: 15px">Користувачі</h2>

    {% for user in all_users %}
    <div class="user-list-item">
      <div id="user-list-item-div1">
          <img src="/static/profile_pics/{{ user.image_file }}" style="width: 75px; height: 75px">
      </div>
        <div id="user-list-item-div2">
            <div id="user-list-item-div3">
                <span><span style="color: black"><b>Ім'я користувача:</b></span> {{ user.username }}</span>
            </div>
            <div id="user-list-item-div4">
                <span><span  style="color: black"><b>E-mail:</b></span> {{ user.email }}</span>
            </div>
        </div>


    </div>
    {% endfor %}



{% endblock %}