{% from "_render_resultData.html" import render_result %}

{% extends "baseTemplate.html" %}

{%block content %}
<div class="form-result-after-register">
    <h2 align="center"><b><i>Отримані дані</i></b></h2>
        <hr>

    <p>{{ render_result(form.login) }}</p>
    <p>{{ render_result(form.password) }}</p>
    <p>{{ render_result(form.password_r) }}</p>

    <hr>
        <h3 align="center"><b><i>Екзаменаційний лист ЗНО магістра</i></b></h3><br>

    <p>{{ render_result(form.e_number) }}</p>
    <p>{{ render_result(form.e_pin) }}</p>
    <p>{{ render_result(form.e_year) }}</p>

    <hr>
        <h3 align="center"><b><i>Документ про освіту</i></b></h3><br>

    <p>{{ render_result(form.d_series) }}</p>
    <p>{{ render_result(form.d_number) }}</p>
</div>

{% endblock %}