{% from "_render_field.html" import render_field %}

{% extends "baseTemplate.html" %}

{%block content %}
    <title>Створити пост</title>

    <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div id="create-post">
        <div>
            <p>{{ render_field(form.title, id="create-post-title") }}</p>
            <p>{{ render_field(form.description, id="create-post-content") }}</p>
            <p>{{ render_field(form.image, id="create-post-picture") }}</p>
            <p>{{ render_field(form.category, id="create-category-type") }}</p>
            <p>{{ render_field(form.tags, id="create-tags-type") }}</p>
            <p>{{ render_field(form.submit, value='Зберегти', id="create-post-submit_btn") }}</p>
        </div>
    </div>

</form>

{% endblock %}