
{% from "_render_field.html" import render_field %}
{% extends "baseTemplate.html" %}

{% block content %}

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <h1 class="zagolovok" align="center">{% block title %} Авторизація {% endblock %}</h1>

    <div class="myForm">
        <form class="dataForm" method="POST" action="{{ url_for('form') }}">
            {{ form.csrf_token }}
            <p>&nbsp&nbsp&nbsp {{ render_field(form.username) }}</p>
            <p>{{ render_field(form.password) }}</p>

            <hr><input id="input-submit" type="submit" value="Надіслати">
        </form>
    </div>


    {% if usernameData %}
        <div id="myForm2">
            <h3 class="myForm2-H3">Передані дані</h3><hr>
            <p class="myForm2-p"><b>Логін:</b> {{ usernameData }}</p>
            <p class="myForm2-p"><b>Пароль:</b> {{ passwordData }}</p>
        </div>
    {% else %}
    {% endif %}

{% endblock %}
